
{% block 標記詞性 %}
	<table class="資料" border=1>		
		<tr>
			<td>漢</td>
			{% for 物件 in 漢 %}
				<td>{{ 物件}} </td>
			{% endfor %}
		</tr>
		<tr>
			<td>羅</td>
			{% for 物件 in 羅 %}
				<td>{{ 物件}} </td>
			{% endfor %}
		</tr>
		<tr>
			<td>教典詞性</td>
			{% for 物件 in 性 %}
				<td>{{ 物件}} </td>
			{% endfor %}
		</tr>
		<tr>
			<td><a href="http://coct.naer.edu.tw/Segmentor/">國教院詞性</a></td>
			{% for 物件 in 國教院詞性 %}
				<td>{{ 物件}} </td>
			{% endfor %}
		</tr>
		<tr>
			<td><a href="http://coct.naer.edu.tw/Segmentor/">國教院詞條</a></td>
			{% for 物件 in 國教院詞條 %}
				<td>{{ 物件}} </td>
			{% endfor %}
		</tr>
		<tr>
			<td>標記詞性</td>
			{% for 物件 in 性 %}
					<td>						
						<select name="carlist" form="carform">
						  <option value="選擇詞性…">選擇詞性…</option>
						  <option value="動">動</option>
						  <option value="名">名</option>
						  <option value="副">副</option>
						  <option value="…">…</option>
						</select>
					 </td>
			{% endfor %}
		</tr>
	</table>
	國教院翻譯華語句:{{ 國教院翻譯華語句 }}
{% endblock %}
