
{% block 標記詞性 %}
    <h3><font color="red">{{錯誤資訊}}</font></h3>
	<table class="資料" border=1>		
		<tr>
			<td>漢</td>
			{% for 物件 in 漢 %}
				<td>{{ 物件}} </td>
			{% endfor %}
		</tr>
		<tr>
			<td>羅</td>
			{% for 物件 in 羅 %}
				<td>{{ 物件}} </td>
			{% endfor %}
		</tr>
		<tr>
			<td>教典詞性</td>
			{% for 物件 in 性 %}
				<td>{{ 物件}} </td>
			{% endfor %}
		</tr>
		<tr>
			<td><a href="http://coct.naer.edu.tw/Segmentor/">國教院詞性</a></td>
			{% for 物件 in 國教院詞性 %}
				<td>{{ 物件}} </td>
			{% endfor %}
		</tr>
		<tr>
			<td><a href="http://coct.naer.edu.tw/Segmentor/">國教院詞條</a></td>
			{% for 物件 in 國教院詞條 %}
				<td>{{ 物件}} </td>
			{% endfor %}
		</tr>
		<tr>
			<td><a href="https://github.com/i3thuan5/su5-sing3_deepnlp">程式詞性</a></td>
			{% for 物件 in 程式詞性 %}
				<td>{{ 物件}} </td>
			{% endfor %}
		</tr>
		<tr>
			<td>標記詞性</td>
			{% for 物件 in 預設詞性 %}
					<td>						
						<select class='su5-sing3'>
						  <option value="選擇詞性…" disabled hidden>選擇詞性…</option>
                          {% for 詞性 in 詞性種類 %}
						    <option value={{ 詞性 }}
						      {% if 物件 == 詞性 %}selected{% endif %}>
						        {{ 詞性 }}
					        </option>
						  {% endfor %}
						</select>
					 </td>
			{% endfor %}
		</tr>
	</table>
{% endblock %}
