{% extends "admin/change_form.html" %}

{% block field_sets %}
  	
{% for fieldset in adminform %}
	{% if fieldset.name == '語料狀況' %}
		{% include "admin/gi2_liau7_khoo3/語料表/custom_fieldset.html" %}
		{% if original.音檔.原始檔 != None %}
		<fieldset class="module aligned wide">
    		<div class='form-row'>
	            <label for="id_mediaElementID">音檔片段：</label>
	    		<audio controls id='mediaElementID' autoplay>
		        	<source src="/音檔/{{original.音檔.id}}/{{original.聲音開始時間}}/{{original.聲音結束時間}}/audio.wav">
		        	Your browser does not support the audio element.
	    		</audio>
			</div>
		</fieldset>
		{% endif %}
	
	{% else %}
		{% include "admin/gi2_liau7_khoo3/語料表/custom_fieldset.html" %}
	{% endif %}
{% endfor %}
{% endblock %}

{% block admin_change_form_document_ready %}
	<script type="text/javascript">
	var requestAnimationFrame = window.requestAnimationFrame;
	var vid = document.getElementById('mediaElementID');
	vid.currentTime = {{original.聲音開始時間}};
	
	function trackCurrentTime() {
		// `this` : `audio`
		if (this.currentTime >= {{original.聲音結束時間}}-0.01) {
  			this.pause();
    		this.currentTime = {{original.聲音開始時間}};
  		} else {
    		requestAnimationFrame(trackCurrentTime.bind(this))
  		}
	}
	
	vid.oncanplay = function() {};
	vid.onplay = function(){
		trackCurrentTime.call(vid);
	}
	
django.jQuery(document).ready(function($){
	$('#校對表_form').on('keypress', function(e) {
		var keyCode = e.keyCode || e.which;
		if (keyCode === 13) { 
		    e.preventDefault();
		    $('input[name="_continue"]').click();
		    return false;
		}
	});
	 
	$("#ing7khau2gi2ting5pio1").on('click', function(){
		var a='/口語標漢字本調/'+django.jQuery("#id_口語調臺羅").val();
		var jqxhr = django.jQuery.ajax( a )
		  .done(function(data) {
			django.jQuery("#id_漢字").val(data.漢字);
			django.jQuery("#id_本調臺羅").val(data.本調);
		  })
		  .fail(function() {
		    alert( "error" );
		  });
	})
 
	$("#senn1pun2tiau7").on('click', function(){
		var a='/標本調/'+django.jQuery("#id_漢字").val()+'/'+django.jQuery("#id_本調臺羅").val();
		/*alert(a);/* /*  */ 
		var jqxhr = django.jQuery.ajax( a )
		  .done(function(data) {
			django.jQuery("#id_本調臺羅").val(data.本調);
		  })
		  .fail(function() {
		    alert( "error" );
		  });
	})
	
});
</script>
{% endblock %}